<!DOCTYPE html>
<html lang="en">
  <head>
  {% load staticfiles %}
  <!-- All the files that are required -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
<link href="{% static "main/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
<link href="{% static "main/login.css" %}" rel="stylesheet">
</head>
<!-- Where all the magic happens -->
<!-- LOGIN FORM -->
<body>
<div class="text-center" style="padding:200px 0">
 
  <!-- Main Form -->

  <div class="login-form-1">
  <img src="https://avatars0.githubusercontent.com/u/1921180?v=3&s=200" alt="logo" style="width:100px;height:100px;" >
    <!--form id="login-form" class="text-left">
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <label for="lg_username" class="sr-only">Username</label>
            <input type="text" class="form-control" id="lg_username" name="lg_username" placeholder="username">
          </div>
          <div class="form-group">
            <label for="lg_password" class="sr-only">Password</label>
            <input type="password" class="form-control" id="lg_password" name="lg_password" placeholder="password">
          </div>
          <div class="form-group login-group-checkbox">
            <input type="checkbox" id="lg_remember" name="lg_remember">
            <label for="lg_remember">remember</label>
          </div>
        </div>
        <button type="submit" class="login-button">submit<i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="etc-login-form">
        <p>forgot your password? <a href="#">click here</a></p>
        <p>new user? <a href="#">create new account</a></p>
      </div>
    </form-->
    {% block content %}{% endblock %} 
  </div>
  <!-- end:Main Form -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js"></script>
<script src="{% static "main/1.js" %}"></script>
<script scr="{% static "main/bootstrap/dist/js/bootstrap.min.js" %}"></script>
<!--script src="js/jquery-3.0.0.min.js"></script-->
</body>
</html>
