
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block css %}
  <link href="{% static "main/signin.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
            <form class="form-register" role="form">
            {% csrf_token %}
              <h2 class="form-signin-heading">Registration Form</h2>
                <div class="form-group">
                    <label for="firstName" class="control-label">Full Name</label>
                    <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                    <span class="help-block">Firstname Lastname, eg.: Harry Smith</span>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">Email</label>
                        <input type="email" id="email" placeholder="Email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input type="password" id="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Confirm Password</label>
                    <input type="password" id="password" placeholder="Password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="firstName" class="control-label">University ID</label>
                    <input type="text" id="firstName" placeholder="A234234" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <label class="control-label">User Type</label>
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="userType" id="femaleRadio" value="Female" checked="">Student
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" name="userType" id="maleRadio" value="Male">Teacher
                                </label>
                            </div>
                        </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">I accept the <a href="#">Terms and Condition</a>
                            </label>
                        </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->
{% endblock %}