
{% extends 'main/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="container">
            <form class="form-horizontal" role="form">
            {% csrf_token %}
                <h2>Registration Form</h2>
                <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-9">
                        <input type="text" id="firstName" placeholder="Full Name" class="form-control" autofocus>
                        <span class="help-block">First Name Last Name, eg.: Harry Smith</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" id="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password1" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="id_password1" placeholder="Password" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="id_password2" class="col-sm-3 control-label">Confirm Password</label>
                    <div class="col-sm-9">
                        <input type="password" id="id_password2" placeholder="Password" class="form-control">
                    </div>
                </div>
                                
                <div class="form-group">
                    <label for="id_uid" class="sr-only">UID</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="id_uid" name="uid" placeholder="university ID">
                    </div>
                </div>

                <div class="form-group">
                    
                    <div class="col-sm-6">
                      <label class="control-label col-sm-3">User Type</label>
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="id_student" value="Student">Student
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label class="radio-inline">
                                    <input type="radio" id="id_teacher" value="Teacher">Teacher
                                </label>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">I accept <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->
{% endblock %}