
{% extends 'main/base.html' %}

{% block content %}
{% csrf_token %}
<!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">register</div>
	<!-- Main Form -->
	<div class="login-form-1">
	  <form id="register-form" class="text-left" method="POST" action="." >
	    {% csrf_token %}
			<div class="login-form-main-message"></div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="id_uid" class="sr-only">UID</label>
						<input type="text" class="form-control" id="id_uid" name="uid" placeholder="university ID">
					</div>
					<div class="form-group">
						<label for="id_password1" class="sr-only">Password</label>
						<input type="password" class="form-control" id="id_password1" name="password1" placeholder="password">
					</div>
					<div class="form-group">
						<label for="id_password2" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="id_password2" name="password2" placeholder="confirm password">
					</div>
					
					<div class="form-group">
						<label for="id_email" class="sr-only">Email</label>
						<input type="text" class="form-control" id="reg_email" name="reg_email" placeholder="email">
					</div>
					<div class="form-group">
						<label for="id_first_name" class="sr-only"></label>
						<input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="first name">
					</div>
					
					 <div class="form-group">
                                                <label for="id_last_name" class="sr-only"></label>
                                                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last name">
                                        </div>
					<div class="form-group login-group-checkbox">
						<input type="radio" class="id_is_admin_0" name="is_admin" id="id_is_admin_0" placeholder="username">
						<label for="id_is_admin_0">I am a teacher</label>
						<br>
						<input type="radio" class="id_is_admin_1" name="is_admin" id="id_is_admin_1" placeholder="username">
						<label for="id_is_admin_1">I am a student</label>
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">i agree with <a href="#">terms</a></label>
					</div>
				</div>
				<button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
				<input type="hidden" name="next" value="{% url 'registration' %}"
			</div>
			<div class="etc-login-form">
				<p>already have an account? <a href="{% url 'login' %}">login here</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>
{% endblock %}
