#OS junk files
[Tt]humbs.db
*.DS_Store
*~

#Compiled objects
*.o
*.pyc
__pycache__

#Swapfiles
*.swp

#Original files
*.org

#No SSL files
*.no_ssl

#Django migrations folder
embed_grader/serapis/migrations

#App secret
embed_grader/embed_grader/config.py

##Production server related files

#Production static files
embed_grader/static

#Uploaded files folder
embed_grader/uploaded_files

#Nginx config file
embed_grader_nginx.conf
dev_grader_nginx.conf

#List of useful commands: start/stop server, log files
production_server_commands.txt
dev_server_commands.txt

#uwsgi initialization file
embed_grader/embed_grader_wsgi.ini
embed_grader/dev_grader_wsgi.ini

#SSL/TLS certification bot
certbot-auto

