.top-buffer {
    margin-top:20px;
}

.bottom-buffer{
    margin-bottom: 20px;
}

a:hover {
  cursor: pointer;
}

.btn-nesl {
  font-size:12px;
  background:white;
  color:SteelBlue;
  border-color:SteelBlue;
}
