{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load guardian_tags %}
{% load submission_tags %}

{% block profile-usertitle-name %}
  {{ course.course_code }}
{% endblock %}

{% block profile-usertitle-job %}
  {{ assignment.name }}
{% endblock %}

{% block courses-active %}active{% endblock %}

{% block main-content %}
  {% get_obj_perms request.user for course as "course_perms" %}

  <div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Courses</a></li>
        <li><a href="{% url 'course' course.id %}">{{course.course_code}}</a></li>
        <li class="active">{{ assignment.name }}</a></li>
      </ol>
    </div>

    <h2 class="page-header">Assignment - {{ assignment.name }}</h2>

    <h3>Problem Statement</h3>
    <p>{{ assignment.problem_statement|safe }}</p>
    <hr/>

    <br/>
    <h3>Tasks (Sample: {{public_points}} points. Total: {{total_points}} points)</h3>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <tr>
          <thead class="thead-default">
            {% if "modify_assignment" not in course_perms %}
              <th style="width:25%">Task</th>
              <th style="width:15%">Mode</th>
              <th style="width:10%">Points</th>
              <th style="width:35%">Description</th>
              <th style="width:15%">Input File</th>
            {% else %}
              <th style="width:15%">Task</th>
              <th style="width:12%">Mode</th>
              <th style="width:13%">Points</th>
              <th style="width:30%">Description</th>
              <th style="width:15%">Input File</th>
              <th style="width:15%">Edit</th>
            {% endif %}
          <thead>
        </tr>
        {% for task, file_list in assignment_tasks %}
          {% if "modify_assignment" not in course_perms %}
            <tr>
              <td>{{ task.brief_description }}</td>
              <td>{{ task.get_mode_display }}</td>
              <td>{{ task.points }}</td>
              <td>{{ task.description }}</td>
              <td>
                {% if submission_form %}
                  {% if task.get_mode_display == 'Public' or task.get_mode_display == 'Debug' %}
                    <a href="{% url 'zip-input-files' task.id %}" class="btn btn-primary"
                        style="font-size:12px; background:white; color:SteelBlue; border-color:SteelBlue;">
                      <span class="glyphicon glyphicon-download-alt"></span> &nbsp;Download
                    </a>
                  {% else %}
                    N/A
                  {% endif %}
                {% else %}
                  <a href="{% url 'zip-input-files' task.id %}" class="btn btn-primary"
                      style="font-size:12px; background:white; color:SteelBlue; border-color:SteelBlue;">
                    <span class="glyphicon glyphicon-download-alt"></span> &nbsp;Download
                  </a>
                {% endif %}
              </td>
            </tr>
          {% else %}
            <tr>
              <td>{{ task.brief_description }}</td>
              <td>{{ task.get_mode_display }}</td>
              <td>{{ task.points }}</td>
              <td>{{ task.description }}</td>
              <td>
                <a href="{% url 'zip-input-files' task.id%}" class="btn btn-primary"
                    style="font-size:12px; background:white; color:SteelBlue; border-color:SteelBlue;">
                  <span class="glyphicon glyphicon-download-alt"></span> &nbsp;Download
                </a>
              </td>
              <td>
                <a href="{% url 'modify-assignment-task' task.id %}" class="btn btn-primary"
                    style="font-size: 12px; background:white; color:SteelBlue; border-color:SteelBlue;width:80px">
                  <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
    {% if "modify_assignment" in course_perms %}
      <a class="btn btn-primary" href="{% url 'create-assignment-task' assignment.id %}">Create New Task</a>
    {% endif %}

    {% if assignment.num_max_team_members > 1 %}
      <hr/>
      <br/>
      {% if not team %}
        <h3>Form a team</h3>
        <p>This is a team-based assignment with a maximum of {{assignment.num_max_team_members}} people. Currently, you are not part of any team.</p>
        <p>To form a team, you can either
          <ul>
            <li>Create a team and become a leader, <a onclick="double_check_create_team()">Click here</a></li>
            <li>
              <form action="{% url 'assignment-join-team' assignment.id %}" method="post" class="form" id="join_team_form">
                {% csrf_token %}
                Enter a team passcode to join a new team: <input class="form-control" id="id_team_passcode" name="team_passcode" placeholder="Passcode" type="text" style="width: 150px; display: inline-block;">
                and <a onclick="double_check_join_team()">Submit the request</a>
              </form>
            </li>
          </ul>
        </p>
        <script>
          function double_check_create_team() {
            if (confirm("Are you sure you want to create a new team? Once you create a team, you cannot join a different team."))
              window.location.replace("{% url 'assignment-create-team' assignment.id %}");
          }
          function double_check_join_team() {
            if (confirm("Are you sure you want to join an existing team? Once you join the team, you cannot drop off from the team."))
              document.getElementById("join_team_form").submit();
          }
        </script>
      {% else %}
        <h3>Team requirement</h3>
        <p>This is a team-based assignment with a maximum of {{assignment.num_max_team_members}} people. Currently,
        {% if num_team_members == 1 %}
          you are the only person in the team.
        {% else %}
          there are {{num_team_members}} people in your team.
        {% endif %}
        </p>

        {% if passcode %}
          <p>Give the passcode to your team mates to allow them join your team: <b>{{passcode}}</b></p>
        {% endif %}
      {% endif %}
    {% endif %}

    <hr/>
    <br/>
    <h3>Submit your code</h3>
    <hr/>
    <p><b>Release time: </b>{{ assignment.release_time }}</p>
    <p><b>Deadline: </b>{{ assignment.deadline }}</p>
    {% if submission_form %}
      <p><b>Time Remaining: </b>{{ time_remaining }}</p>
      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ submission_form.as_p }}
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    {% else %}
      <p style='color:red'>{{ reason_of_cannot_submit }}</p>
    {% endif %}

    <hr/>
    <h3>Real-time Score Distribution</h3>
    {% if not score_statistics %}
      <p>No {{submission_unit}}s have tried this assignment so far.</p>
    {% else %}
      <p>{{num_contributed_students}} {{submission_unit}}(s) have tried this assignment so far</p>
      <p><span style="font-weight: bold;">Mean: </span>{{score_statistics.mean_score}}</p>
      <p><span style="font-weight: bold;">Highest Score: </span>{{score_statistics.max_score}}</p>
      <p><span style="font-weight: bold;">1st Quantile: </span>{{score_statistics.first_quantile}}</p>
      <p><span style="font-weight: bold;">Median: </span>{{score_statistics.median_score}}</p>
      <p><span style="font-weight: bold;">3rd Quantile: </span>{{score_statistics.third_quantile}}</p>
    {% endif %}


    {% if "modify_assignment" not in course_perms %}
      {% if team %}
        <hr/>
        <br/>
        <h3>Recent Submissions</h3>
        {% if not submission_lists.team %}
          <p>No submissions to this assignment yet.</p>
        {% else %}
          <table class="table table-striped table-hover table-sm">
            <tr><thead class="thead-default">
              {% submission_table_schema  status 30%  score 20%  submission_time 30%  detail_button 20% as table_schema %}
            </thead></tr>
            {% for submission in submission_lists.student %}
              <tr>{% submission_table_row table_schema submission myuser %}</tr>
            {% endfor %}
          </table>
        {% endif %} {# not submission_lists.student #}
      {% endif %}
    {% else %}
      <hr/>
      <br/>
      <h3>Recent Submissions</h3>
      {% if not submission_lists.grading and not submission_lists.graded %}
        <p>No submissions to this assignment yet.</p>
      {% else %}
        {% if submission_lists.graded %}
          <h4>Fully graded submissions</h4>
          <table class="table table-striped table-hover table-sm">
            <tr><thead class="thead-default">
              {% submission_table_schema  author_names 30%  score 20%  submission_time 30%  detail_button 20% as table_schema %}
            </thead></tr>
            {% for submission in submission_lists.graded %}
              <tr>{% submission_table_row table_schema submission myuser %}</tr>
            {% endfor %}
          </table>
        {% endif %}

        {% if submission_lists.grading %}
          <h4>Working submissions</h4>
          <table class="table table-striped table-hover table-sm">
            <tr><thead class="thead-default">
              {% submission_table_schema  author_names 22%  status 23%  score 15%  submission_time 25%  detail_button 15% as table_schema %}
            </thead></tr>
            {% for submission in submission_lists.grading %}
              <tr>{% submission_table_row table_schema submission myuser %}</tr>
            {% endfor %}
          </table>
        {% endif %}
      {% endif %} {# not submission_lists.grading and not submission_lists.graded #}

      <div>
        {% if assignment.num_max_team_members > 1 %}
          <a class="btn btn-primary" href="{% url 'view-assignment-team-list' assignment.id %}">View team list</a>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'regrade' assignment.id %}">Regrade interface</a>
        {% if assignment.is_deadline_passed %}
          <a class="btn btn-primary" href="{% url 'assignment-run-final-grade' assignment.id %}">Run final grading</a>
        {% else %}
          <a class="btn btn-primary" href="{% url 'assignment-run-final-grade' assignment.id %}" onclick="return double_check_fun_final_grade()">Run final grading</a>
          <script>
            function double_check_fun_final_grade() {
              return confirm("The assignment deadline is not passed yet, meaning some students may be still working on the assignment. Do you still want to proceed final grading?");
            }
          </script>
        {% endif %}
      </div>
    {% endif %}

    <br/>
    <hr/>
    {% if "modify_assignment" not in course_perms %}
      <a class="btn btn-primary" href="{% url 'course' course.id %}" style="width:100px;">Back</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'modify-assignment' assignment.id %}" style="width:100px;">
        <span class="glyphicon glyphicon-edit"></span>&nbsp; Edit </a>
      <a class="btn btn-primary" href="{% url 'course' course.id %}" style="width:100px; float:right;">Back</a>
    {% endif %}
  </div>
{% endblock %}
