{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load guardian_tags %}
{% load submission_tags %}

{% block sidebar-content %}
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{ course.course_code }}
        </div>
        <div class="profile-usertitle-job">
            {{ assignment.name }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav nav-bar">
            <li>
                <a href="{% url 'homepage' %}">Courses</a>
            </li>
            {% get_obj_perms request.user for course as "course_perms" %}
            {% if "view_membership" in course_perms %}
            <li>
                <a href="{% url 'membership' course.id %}">Students</a>
            </li>
            {% endif %}
            {% if perms.serapis.view_hardware_type %}
            <li>
                <a data-toggle="collapse"
                data-target="#submenu1" aria-expanded="false">Submissions</a>
                <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                  <li><a href="{% url 'submissions_full_log' %}">My Submissions</a></li>
                  <li><a href="{% url 'student_submission_full_log' %}">Student Submissions</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'testbed-type-list' %}">Testbed Types</a>
            </li>
            <li>
                <a href="{% url 'hardware-type-list' %}">Hardware Types</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'submissions_full_log' %}">Submissions</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- END MENU -->
{% endblock %}

{% block main-content %}
  {% get_obj_perms request.user for course as "course_perms" %}
  
  <div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Courses</a></li>
        <li><a href="{% url 'course' course.id %}">{{course.course_code}}</a></li>
        <li class="active">{{ assignment.name }}</a></li>
      </ol>
    </div>

    <h2 class="page-header">Assignment - {{ assignment.name }}</h2>

    <h3>Problem Statement</h3>
    <p>{{ assignment.problem_statement|safe }}</p>
    <hr/>

    <br/>
    <h3>Tasks (Sample: {{public_points}} points. Total: {{total_points}} points)</h3>
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <tr>
          <thead class="thead-default">
            <th>Task</th>
            {% if "modify_assignment" in course_perms %}
              <th>Status</th>
            {% endif %}
            <th>Points</th>
            <th>Description</th>
            {% if "modify_assignment" in course_perms %}
              <th>Grading Script</th>
              <th>Edit</th>
            {% endif %}
          <thead>
        </tr>
        {% for task in tasks %}
          {% if "modify_assignment" not in course_perms %}
            <tr>
              <td style="width:25%;">{{ task.brief_description }}</td>
              <td style="width:25%;">{{ task.points }}</td>
              <td style="width:50%;text-align:left">{{ task.description }}</td>
            </tr>
          {% else %}
            <tr>
              <td style="width:20%">{{ task.brief_description }}</td>
              <td style="width:10%">{{ task.get_mode_display }}</td>
              <td style="width:10%">{{ task.points }}</td>
              <td style="width:30%; text-align:left">{{ task.description }}</td>
              <td style="width:10%">
                <a href="{{ MEDIA_URL }}{{ task.grading_script.url }}" class="btn btn-primary"
                    style="font-size: 12px; background:white; color:SteelBlue; border-color:SteelBlue">
                  <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download
                </a>
              </td>
              <td style="width:10%">
                <a href="{% url 'modify-assignment-task' task.id %}" class="btn btn-primary"
                    style="font-size: 12px; background:white; color:SteelBlue; border-color:SteelBlue;width:80px">
                  <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                </a>
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    </div>
    {% if "modify_assignment" in course_perms %}
      <a class="btn btn-primary" href="{% url 'create-assignment-task' assignment.id %}">Create New Task</a>
    {% endif %}

    <hr/>
    <br/>
    <h3/>Submit your code</h3>
    <hr/>
    <p><b>Release time: </b>{{ assignment.release_time }}</p>
    <p><b>Deadline: </b>{{ assignment.deadline }}</p>
    {% if submission_form %}
      <p><b>Time Remaining: </b>{{ time_remaining }}</p>
      <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ submission_form.as_p }}
        <input class="btn btn-primary" type="submit" value="Submit" />
      </form>
    {% else %}
      <p style='color:red'>{{ reason_of_cannot_submit }}</p>
    {% endif %}

    <hr/>
    <br/>
    <h3>Recent Submissions</h3>
    {% if not submission_list %}
      <p>No submissions to this assignment yet.</p>
    {% else %}
      <table class="table table-striped table-hover table-sm">
        <tr><thead class="thead-default">
          {% if "modify_assignment" not in course_perms %}
            {% submission_table_schema  status 30%  score 20%  submission_time 30%  detail_button 20% as table_schema %}
          {% else %}
            {% submission_table_schema  author_name 30%  score 20%  submission_time 30%  detail_button 20% as table_schema %}
          {% endif %}
        </thead></tr>
        {% for submission in submission_list %}
          <tr>{% submission_table_row table_schema submission can_see_hidden_cases %}</tr>
        {% endfor %}
      </table>

      {% if "modify_assignment" in course_perms %}
        <div>
          <a class="btn btn-primary" href="{% url 'regrade' assignment.id %}">Regrade interface</a>
        </div>
      {% endif %}
    {% endif %}

    <br/>
    <hr/>
    {% if "modify_assignment" not in course_perms %}
      <a class="btn btn-primary" href="{% url 'course' course.id %}" style="width:100px;">Back</a>
    {% else %}  
      <a class="btn btn-primary" href="{% url 'modify-assignment' assignment.id %}" style="width:100px;">
        <span class="glyphicon glyphicon-edit"></span>&nbsp; Edit </a>
      <a class="btn btn-primary" href="{% url 'course' course.id %}" style="width:100px; float:right;">Back</a>
    {% endif %}
  </div>
{% endblock %}
