{% extends 'serapis/base.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static "serapis/sidebar.css" %}" rel="stylesheet">
<link href="{% static "serapis/custom.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="profile-sidebar" style="position:fixed; height:100%;
            width:15%; min-width:150px; text-align:center; padding-top:20px;">
            {% block sidebar-content %}
            {% endblock %}
            </div>
            <!--END SIDEBAR-->
        </div>
        <!--END COLUMN-->
        <!--START COLUMN-->
        <div class="col-md-10" style="margin-left:15%; width:85%">
            <!--MAIN CONTENT-->
            {% block main-content %}
            {% endblock %}
            <!--END MAIN CONTENT-->
        </div>
        <!--END COLUMN-->
    </div>
    <!--END ROW-->
{% endblock %}
