{% extends 'serapis/base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="page-header">Course - {{ course.course_code }}: {{ course.name }}</h1>
        <p>{{course.description}}</p>
        <hr/>
        <h3>Assignment List</h3>
        
        {% if not assignment_list %}
            <p>No assignments are available.</p>
        {% else %}
            <ul>
                {% for assignment in assignment_list %}
                    <li>
                        {% if assignment.testbench_id %}
                            <a href="{% url 'assignment' assignment.id %}">{{ assignment.description }}</a>
                        {% else %}
                            {{ assignment.description }} (specification not complete)
                        {% endif %}
                        {% if user_profile.user_role == user_profile.ROLE_SUPER_USER or user_profile.user_role == user_profile.ROLE_INSTRUCTOR or user_profile.user_role == user_profile.ROLE_TA %}
                            <a href="{% url 'modify-assignment' assignment.id %}">[Make change]</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if user_profile.user_role == user_profile.ROLE_SUPER_USER or user_profile.user_role == user_profile.ROLE_INSTRUCTOR or user_profile.user_role == user_profile.ROLE_TA %}
            <hr/>
            <h3>Instructor-Only Session</h2>
            <p>
                <a href='{% url 'modify-course' course.id %}' class="btn btn-primary">Change Course Description</a>
                <a href='{% url 'create-assignment' course.id %}' class="btn btn-primary">Create a New Assignment</a>
            </p>
        {% endif %}
    </div>

{% endblock %}
