{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}

{% block sidebar-content %}
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{ course.course_code }}
        </div>
        <div class="profile-usertitle-job">
            {{ course.name }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav nav-bar">
            <li class="active">
                <a href="{% url 'homepage' %}">Courses</a>
            </li>
            <li>
                <a href="{% url 'submissions_full_log' %}">Submissions</a>
            </li>
            {% if role != 20 %}
            <li>
                <a href="{% url 'membership' course.id %}">Students</a>
            </li>
            <li>
                <a href="{% url 'testbed-type-list' %}">Testbed Types</a>
            </li>
            <li>
                <a href="{% url 'hardware-type-list' %}">Hardware Types</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- END MENU -->
{% endblock %}

{% block main-content %}
<div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
          <li><a href="{% url 'homepage' %}">Courses</a></li>
          <li class="active">{{ course.course_code }}</a></li>
      </ol>
    </div>

    <h1 class="page-header">Course - {{ course.course_code }}: {{ course.name }}</h1>
    <p>{{course.description}}</p>
    <hr/>

    <h3>Assignment List</h3>

    {% if not assignment_list %}
        <p>No assignments are available.</p>
    {% else %}
        <div class="table-responsive">
          <table class="table table-striped table-hover">
              <tr>
                <thead class="thead-default">
                  <th>Name</th>
                  <th>Testbed Type</th>
                  <th>Release Date</th>
                  <th>Due Date</th>
                  {% if role != 20 %}
                      <th>Edit</th>
                  {% endif %}
                </thead>
              </tr>
              {% for assignment in assignment_list %}
                  <tr>
                      <td><a href="{% url 'assignment' assignment.id %}">{{ assignment.name }}</a></td>
                      {% if assignment.testbed_type_id %}
                          <td>{{ assignment.testbed_type_id.name }}</td>
                      {% else %}
                          <td>To be assigned</td>
                      {% endif %}
                      <td>{{ assignment.release_time}} </td>
                      <td>{{ assignment.deadline }}</td>
                      {% if role != 20 %}
                          <td>
                            <a class="btn btn-primary" href="{% url 'modify-assignment' assignment.id %}" style="width:100px">
                            <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a>
                          </td>
                      {% endif %}
                  </tr>
              {% endfor %}
          </table>
        </div>
    {% endif %}

        <hr/>
        <p>
          {% if role != 20 %}
            <a href='{% url 'modify-course' course.id %}' class="btn btn-primary">
              <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit Course Detail</a>
            <a href='{% url 'create-assignment' course.id %}' class="btn btn-primary">
              <span class="glyphicon glyphicon-tasks"></span>&nbsp;Create Assignment</a>
          {% endif %}
          <a href='{% url 'homepage' %}' class="btn btn-primary" style="width:100px">Back</a>
        </p>


</div>
{% endblock %}
