{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load bootstrap3 %}

{% block profile-usertitle-name %}
  {% if mode == 'create' %}Welcome!{% else %}{{ course.course_code }}{% endif %}
{% endblock %}

{% block profile-usertitle-job %}
  {% if mode == 'update' %}{{ course.name }}{% endif %}
{% endblock %}

{% block courses-active %}active{% endblock %}

{% block main-content %}
  <div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Courses</a></li>
        <li class="active">{% if mode == 'create' %}Create course{% else %}Modify course{% endif %}</li>
      </ol>
    </div>

    <h2 class="page-header">{% if mode == 'create' %}Create course{% else %}Modify course details{% endif %}</h2>

    <form class="form-register" role="form" method="post" action=".">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="Submit" style="float:left"/>
      {% if mode == 'create' %}
        <a href="{% url 'homepage' %}" class="btn btn-primary" style="float:right">Cancel</a>
      {% else %}
        <a href="{% url 'course' course.id %}" class="btn btn-primary" style="float:right">Cancel</a>
      {% endif %}
    </form>
    
    {% if mode == 'modify' %}
      <br/>
      <br/>
      <h2 class="page-header">Danger zone</h2>
      <a class="btn btn-danger" href="{% url 'delete-course' course.id %}" onclick="return double_check_delete_course()">Delete course</a>
      <script>
        function double_check_delete_course() {
          return confirm("Are you sure you want to permanently remove this course? All the assignments, submissions, and enrollment information will be gone.");
        }
      </script>
    {% endif %}
  </div>
{% endblock %}
