{% extends 'serapis/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block css %}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="page-header">Create an assignment</h1>
        <hr/>

        <form action="." method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" value="Submit" />
            <p style='color:red'>Please note that assignment is incomplete at this stage.</p>
        </form>

        <p><a href="{% url 'homepage' %}">[Go back]</a></p>
    </div>

{% endblock %}
