{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load bootstrap3 %}

{% block profile-usertitle-name %}
  {% if mode == 'create' %}Welcome!{% else %}{{ course.course_code }}{% endif %}
{% endblock %}

{% block profile-usertitle-job %}
  {% if mode == 'update' %}{{ course.name }}{% endif %}
{% endblock %}

{% block courses-active %}active{% endblock %}

{% block main-content %}
  <div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Courses</a></li>
        <li class='active'>Create course</li>
      </ol>
    </div>

    <h2 class="form-signin-heading">Create course</h2>
    <form class="form-register" role="form" method="post" action=".">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="Submit" style="float:left"/>
      {% if mode == 'create' %}
        <a href="{% url 'homepage' %}" class="btn btn-danger" style="float:right">Cancel</a>
      {% else %}
        <a href="{% url 'course' course.id %}" class="btn btn-danger" style="float:right">Cancel</a>
      {% endif %}
    </form>
  </div>
{% endblock %}
