{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block profile-usertitle-name %}
  Testbed
{% endblock %}

{% block profile-usertitle-job %}
  <br>
{% endblock %}

{% block hardware-type-list-active %}active{% endblock %}

{% block main-content %}
    <div class="main-content">
        <h1 class="page-header">Create a Hardware Type</h1>

        <form action="." method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {% bootstrap_form hardware_form %}
            <hr/>
            {{ pin_formset.management_form }}
            <div id='div_pins'>
                {% for form in pin_formset %}
                    {{ form.as_p }}
                {% endfor %}
            </div>
            {% if pin_formset.non_form_errors %}
                <ul style='color:red'>
                    {% for error in pin_formset.non_form_errors %}
                        <li>{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <input class="btn btn-primary" type="submit" value="Submit" />
        </form>

    </div>
    <script type="text/javascript">
        $(function() {
            $('#div_pins p').formset({
                addText: 'add pin',
                deleteText: 'remove'
            });
        })
    </script>
{% endblock %}
