{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block profile-usertitle-name %}
  {{ course.course_code }}
{% endblock %}

{% block profile-usertitle-job %}
  {% if mode is 'create' %}{{course.name}}{% else %}{{assignment.name}}{% endif %}
{% endblock %}

{% block main-content %}
  <div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Courses</a></li>
        <li><a href="{% url 'course' course.id %}">{{course.course_code}}</a></li>
        <li class="active">{% if mode == 'create' %}Create assignment{% else %}Modify assignment{% endif %}</li>
      </ol>
    </div>
    <h1 class="page-header">{% if mode is 'create' %}Create assignment{% else %}Modify assignment{% endif %}</h1>

    <form action="." method="post" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="Submit" style="float:left"/>
      {% if mode == 'create' %}
        <a class="btn btn-primary" href="{% url 'course' course.id %}" style="float:right">Go back</a>
      {% else %}
        <a class="btn btn-primary" href="{% url 'assignment' assignment.id %}" style="float:right">Go back</a>
      {% endif %}
    </form>
    <br/>
    {% if mode == 'modify' %}
      <br/>
      <br/>
      <h2 class="page-header">Danger zone</h2>
      <a class="btn btn-danger" href="{% url 'delete-assignment' assignment.id %}" onclick="return double_check_delete_assignment()">Delete assignment</a>
      <script>
        function double_check_delete_assignment() {
          return confirm("Are you sure you want to permanently remove this assignment? All the student submissions will be removed as well");
        }
      </script>
    {% endif %}
    
    <script>
      $('#id_num_max_team_members').width(50);
      $('#id_num_max_team_members').css('display', 'inline-block');
      $('#id_team_choice').children().last().css('display', 'inline-block');
      $('#id_team_choice').append('<div id="id_team_choice_num_members" style="display:inline-block">: </div>');
      $('#id_num_max_team_members').appendTo('#id_team_choice_num_members');
      $('#id_team_choice_num_members').append('people')

      $('.form-group').slice(10, 11).remove();

      function onTeamChoiceChange() {
        if ($("#id_team_choice_0:checked").is(":checked"))
          $('#id_team_choice_num_members').css('visibility', 'hidden');
        else
          $('#id_team_choice_num_members').css('visibility', 'visible');
      }

      onTeamChoiceChange();

      $('input[type=radio][name=team_choice]').change(onTeamChoiceChange);
    </script>
  </div>
{% endblock %}
