{% extends 'serapis/base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="page-header">Create a testbed (step 2/2)</h1>

        <form action="." method="post">
            {% csrf_token %}
            <h3>General info</h3>
            {{ testbed_form }}
            <h3>Device list</h3>
            {{ hardware_formset.management_form }}
            <div class="row">
                {% for form_dev in zip_hardware_form_dev %}
                    <div class="col-lg-4">
                        {{ form_dev.0.as_p }}
                        <p><img src="{{ MEDIA_URL }}{{ form_dev.1.pinout.url }}" style="width:100%" alt="" /></p>
                        <p>{{ form_dev.1.get_hardware_role_display }}</p>
                        <p>{{ form_dev.1.name }}</p>
                    </div>
                {% endfor %}
            </div>
            
            <h3>Wiring</h3>
            {{ wiring_formset.management_form }}
            <table id='wiring_list'>
                {% for form in wiring_formset %}
                    <tr>
                        {% for field in form %}
                            <td>{{ field.label_tag }}{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

            <input type="submit" value="Submit" />
        </form>

        <p><a href="{% url 'homepage' %}">[Go back]</a></p>
    </div>

    <script type="text/javascript">
    {% autoescape off %}
        var dev_options = {{ js_dev_string }};
        var pin_options = {{ js_pin_string }};

        function refill_select(select, data) {
            $('option', select).remove();
            for (var i = 0; i < data.length; i++) {
                op = data[i]
                $("<option />", {value: op.val, text: op.text}).appendTo(select);
            }
        }
        
        function row_init(tr) {
            tds = $('td', tr);
            refill_select($('select', tds[0]), dev_options);
            refill_select($('select', tds[1]), pin_options[0]);
            refill_select($('select', tds[2]), dev_options);
            refill_select($('select', tds[3]), pin_options[0]);
            $('select', tds[0]).attr('onChange', 'change_pin(this);');
            $('select', tds[2]).attr('onChange', 'change_pin(this);');
        }
        function change_pin(callee_sel) {
            var dst_sel = $('select', $(callee_sel).parent().next());
            var choice = $(callee_sel).val();
            refill_select(dst_sel, pin_options[choice]);
        }
        trs = $('#wiring_list tr');
        for (var i = 0; i < trs.length; i++)
            row_init(trs[i]);
        $(function() {
            $('#wiring_list tr').formset({
                addText: 'Add wire',
                deleteText: 'Remove',
                added: function(row) {
                    row_init(row)
                }
            });
        })
    {% endautoescape %}
    </script>
{% endblock %}
