{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load guardian_tags %}

{% block profile-usertitle-name %}
  {{ course.course_code }}
{% endblock %}

{% block profile-usertitle-job %}
  {% if mode is 'create' %}{{course.name}}{% else %}{{assignment.name}}{% endif %}
{% endblock %}

{% block main-content %}
  <div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Courses</a></li>
        <li><a href="{% url 'course' course.id %}">{{ course.course_code }}</a></li>
        <li><a href="{% url 'assignment' assignment.id %}">{{ assignment.name }}</a></li>
        <li class="active">{% if mode == 'create' %}Create task{% else %}Modify task{% endif %}</li>
      </ol>
    </div>

    <h2 class="page-header">{% if mode == 'create' %}Create task{% else %}Modify task{% endif %}</h2>

    <form action="." method="post" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="Submit" />
      <a class="btn btn-primary" href="{% url 'assignment' assignment.id %}" style="float:right">Cancel</a>
    </form>
    
    {% if mode == 'modify' %}
      <br/>
      <br/>
      <h2 class="page-header">Danger zone</h2>
      <a class="btn btn-danger" href="{% url 'delete-assignment-task' assignment_task.id %}" onclick="return double_check_delete_assignment_task()">Delete task</a>
      <script>
        function double_check_delete_assignment_task() {
          return confirm("Are you sure you want to permanently remove this task? All the corresponding judging results are going to be removed, too.");
        }
      </script>
    {% endif %}
  </div>
{% endblock %}
