{% extends 'serapis/base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="page-header">Create a testbed (step 2/2)</h1>

        <form action="." method="post">
            {% csrf_token %}
            <h3>General info</h3>
            {{ testbed_form }}
            <h3>Device list</h3>
            {{ hardware_formset.management_form }}
            <div class="row">
                {% for form_dev in zip_hardware_form_dev %}
                    <div class="col-lg-4">
                        {{ form_dev.0.as_p }}
                        <p><img src="{{ MEDIA_URL }}{{ form_dev.1.pinout.url }}" style="width:100%" alt="" /></p>
                        <p>{{ form_dev.1.get_hardware_role_display }}</p>
                        <p>{{ form_dev.1.name }}</p>
                    </div>
                {% endfor %}
            </div>
            
            <h3>Wiring</h3>
                    <div id='dut_list'>
                        {% for form in dut_formset %}
                            {{ form.as_p }}
                        {% endfor %}
                    </div>

            <input type="submit" value="Submit" />
        </form>

        <p><a href="{% url 'homepage' %}">[Go back]</a></p>
    </div>

    <script type="text/javascript">
    {% autoescape off %}
        var dev_options = {{ js_dev_string }};
        var pin_options = {{ js_pin_string }};
        function make_select(data) {
            var s = $("<select />");
            for (var i = 0; i < data.length; i++) {
                op = data[i]
                $("<option />", {value: op.val, text: op.text}).appendTo(s);
            }
            return s;
        }
        var sample_dev_select = make_select(dev_options);
        var sample_pin_selects = [];
        for (var i = 0; i < pin_options.length; i++) {
            sample_pin_selects[i] = make_select(pin_options[i]);
        }
        
        $(function() {
            $('#he_list p').formset({
                addText: 'Add hardware',
                deleteText: 'Remove'
            });
        })
    {% endautoescape %}
    </script>
{% endblock %}
