{% extends 'serapis/base.html' %}
{% load staticfiles %}

{% block css %}
  <link href="{% static "serapis/signin.css" %}" rel="stylesheet">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-signin" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="id_username" class="sr-only">Email address</label>
            <input type="text" id="id_username" name="username" class="form-control" placeholder="Email address" required autofocus>
            <br>
            <label for="id_password" class="sr-only">Password</label>
            <input type="password" id="id_password" name="password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <p class="forgot"><a href="{% url 'password_reset' %}">Contact bbalaji@ucla.edu to reset password</a></p>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
						<input type="hidden" name="next" value="{% url 'homepage' %}">
            <div>
                <p><center>Not a User? Please <a href="{% url 'registration' %}">register</a>.</center></p>
            </div>
        </form>

    </div> <!-- /container -->

{% endblock %}
