{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load widget_tweaks %}

{% block sidebar-content %}
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{ course.course_code }}
        </div>
        <div class="profile-usertitle-job">
            {{ course.name }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav nav-bar">
            <li>
                <a href="{% url 'homepage' %}">Courses</a>
            </li>
            <li>
                <a href="{% url 'testbed-type-list' %}">Testbed Types</a>
            </li>
            <li>
                <a href="{% url 'hardware-type-list' %}">Hardware Types</a>
            </li>
        </ul>
    </div>
    <!-- END MENU -->
{% endblock %}

{% block main-content %}
    <div class="main-content">
        <h2 class="form-signin-heading">Modify Course</h2>
        <form class="form-register" role="form" method="post" action=".">
          {% csrf_token %}
          {% bootstrap_form form %}
          <br>
          <input class="btn btn-primary" type="submit" value="Submit" style="float:left"/>
          <a class="btn btn-primary" href="{% url 'course' course.id %}" style="float:right">Cancel</a>
        </form>
    </div>

{% endblock %}
