{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load widget_tweaks %}
{% load guardian_tags %}

{% block sidebar-content %}
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{ course.course_code }}
        </div>
        <div class="profile-usertitle-job">
            {{ assignment.name }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
      <ul class="nav nav-bar">
        <li>
            <a href="{% url 'homepage' %}">Courses</a>
        </li>
        <li>
            <a href="{% url 'submissions_full_log' %}">Submissions</a>
        </li>

        {% get_obj_perms request.user for course as "course_perms" %}
        {% if "modify_course" in course_perms %}
        <li >
            <a href="{% url 'membership' course.id %}">Students</a>
        </li>
        {% endif %}

        {% if perms.serapis.view_hardware_type %}
        <li>
            <a href="{% url 'testbed-type-list' %}">Testbed Types</a>
        </li>
        <li>
            <a href="{% url 'hardware-type-list' %}">Hardware Types</a>
        </li>
        {% endif %}
      </ul>
    </div>
    <!-- END MENU -->
{% endblock %}

{% block main-content %}
  <div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
          <li><a href="{% url 'homepage' %}">Courses</a></li>
          <li><a href="{% url 'course' course.id %}">{{ course.course_code }}</a></li>
          <li>{{ assignment.name }}</li>
      </ol>
    </div>

    <h2 class="page-header">Modify an assignment</h2>

    <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form%}
        <p>Cannot find the testbed you want? Just <a href="{% url 'create-testbed-type' %}">create one!</a></p>

        {% if tasks is not None %}
            <hr/>
            <h3>Assignment tasks</h3>
            {% if not tasks %}
                <p>No tasks assigned yet.</p>
            {% else %}
              <table class="table table-striped table-advance table-hover top-buffer">
                  <tr>
                  <thead>
                    <th></i>Task</th>
                    <!-- <th class="hidden-phone"></i>Email</th> -->
                    <th>Mode</th>
                    <th>Points</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </thead>
                  </tr>
                  {% for task in tasks %}
                  <tr>
                      <td>{{ task.brief_description }}</a></td>
                      <td>{{ task.get_mode_display }}</td>
                      <td>{{ task.points }} pts</td>
                      <td><a class="btn btn-primary" href="{% url 'modify-assignment-task' task.id %}" style="width:80px;">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit</a></td>
                      <td><button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;Delete</button></td>
                  </tr>
                  {% endfor %}
              </table>
            {% endif %}
            <p><a class="btn btn-primary" href="{% url 'create-assignment-task' assignment.id %}">Create an assignment task</a></p>
        {% endif %}
        <hr>
        <input class="btn btn-primary" type="submit" value="Submit" style="width:100px;" />
        <a class="btn btn-danger" href="{% url 'course' course.id %}" style="width:100px; float:right">Cancel</a>
    </form>
  </div>

{% endblock %}
