{% extends 'serapis/base.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="page-header">Modify an assignment</h1>

        <form action="." method="post">
            {% csrf_token %}
            {{ form }}
            <p>Cannot find the testbed you want? Just <a href="{% url 'create-testbed-type' %}">create one!</a></p>
            <!-- <input type="submit" value="Submit"/> -->
            <a href="{% url 'assignment' assignment.id %}" class="btn btn-primary" >Submit</a>
            {% if tasks is not None %}
                <hr/>
                <h3>Assignment tasks</h3>
                {% if not tasks %}
                    <p>No tasks assigned yet.</p>
                {% else %}
                    <ul>
                    {% for task in tasks %}
                        <li>
                            {{ task.brief_description }} ({{ task.get_mode_display }}, {{ task.points }}pts)
                            <a href="#">[modify]</a> <a href="#">[delete]</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
                <p><a href="{% url 'create-assignment-task' assignment.id %}">Create an assignment task</a></p>
            {% endif %}
        </form>

        <hr/>
        <p><a href="{% url 'homepage' %}">[Go back]</a></p>
    </div>

{% endblock %}
