{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}

{% block sidebar-content %}
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{ course.course_code }}
        </div>
        <div class="profile-usertitle-job">
            {{ course.name }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav">
            <li>
                <a href="{% url 'homepage' %}">Courses</a>
            </li>
            {% if role != 20 %}
            <li class="active">
                <a href="{% url 'membership' course.id %}">Students</a>
            </li>
            <li>
                <a href="{% url 'testbed-type-list' %}">Testbed Types</a>
            </li>
            <li>
                <a href="{% url 'hardware-type-list' %}">Hardware Types</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- END MENU -->
{% endblock %}

{% block main-content%}
<div class="main-content">
    <div class="top-buffer">
    <ol class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Courses</a></li>
        <li><a href="{% url 'course' course.id %}">{{ course.course_code }}</a></li>
        <li class="active">Students</li>
    </ol>
    </div>

    <h1 class="page-header">Course Roster</h1>

    <div class="row">
        <div class="col-sm-6">
            <h3>Instructors</h3>
            {% if instructors %}
            <ul>
            {%for i in instructors %}
            <li>{{ i.user.first_name }} {{i.user.last_name}}, {{i.user.email}}</li>
            {% endfor %}
            </ul>
            {% else %}
            <p> - </p>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <h3>Teaching Assistants</h3>
            {% if teaching_assistants %}
            <ul>
            {%for i in teaching_assistants %}
            <li>{{ i.user.first_name }} {{i.user.last_name}}, {{i.user.email}}</li>
            {% endfor %}
            </ul>
            {% else %}
            <p> - </p>
            {% endif %}
        </div>
    </div>

    <table class="table table-striped table-advance table-hover top-buffer">
        <tr>
        <thead>
            <th></i>Username</th>
            <th class="hidden-phone"></i>Email</th>
            <th>Full Name</th>
            <th>UID</th>
            <th>Remove</th>
        </thead>
        </tr>
        {% for i in students%}
        <tr>
            <td>{{ i.user.username }}</a></td>
            <td>{{ i.user.email }}</td>
            <td>{{ i.user.first_name }} {{ i.user.last_name}}</td>
            <td>{{ i.uid }}</td>
            <td><button type="button" class="btn btn-danger">Remove</button></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
