{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load submission_tags %}

{% block profile-usertitle-name %}
  Submissions
{% endblock %}

{% block profile-usertitle-job %}
  Student Submissions
{% endblock %}

{% block student-submissions-active %}active{% endblock %}

{% block main-content %}
  <div class="main-content">
    <h3>Submission History for all instructed courses</h3>
    {% if not submission_list %}
      <p>No submission history found.</p>
    {% else %}
      <hr/>
      <table class="table table-striped table-hover" id="data-table" cellspacing="0">
        <thead class="thead-default">
          <tr>
            {% submission_table_schema  author_names 20%  assignment 30%  score 15%  submission_time 20%  detail_button 15% as table_schema %}
          </tr>
        </thead>
        <tfoot style="display: table-header-group;">
          <tr>
            <th>Author name</th>
            <th>Assignment</th>
            <th>Score</th>
            <th>Submission time</th>
            <th style="display:none">Detail</th>
          </tr>
        </tfoot>

        {% for submission in submission_list %}
          <tr>{% submission_table_row table_schema submission myuser %}</tr>
        {% endfor %}
      </table>

      <script type="text/javascript">
        $(document).ready(function() {
          $('#data-table tfoot th').each( function () {
             var title = $(this).text();
             $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
           });

           var table = $('#data-table').DataTable({"order":[[2, "desc"]]});

           table.columns().every( function() {
             var that = this;

             $('input', this.footer() ).on('keyup change', function() {
               if ( that.search() !== this.value ) {
                   that.search( this.value ).draw();
               }
             });
           });
        });
      </script>
    {% endif %}
  </div>
{% endblock %}
