{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}

{% block sidebar-content %}
  <!-- SIDEBAR USER TITLE -->
  <div class="profile-usertitle">
      <div class="profile-usertitle-name">
          Submissions
      </div>
      <div class="profile-usertitle-job">
          {{user.first_name}} {{user.last_name}}
      </div>
  </div>
  <!-- END SIDEBAR USER TITLE -->
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
      <ul class="nav nav-bar">
          <li>
              <a href="{% url 'homepage' %}">Courses</a>
          </li>
          {% if perms.serapis.view_hardware_type %}
          <li>
              <a data-toggle="collapse"
              data-target="#submenu1" aria-expanded="false">Submissions</a>
              <ul class="nav collapse" id="submenu1" role="menu" aria-labelledby="btn-1">
                <li class="active"><a href="{% url 'submissions_full_log' %}">My Submissions</a></li>
                <li><a href="">Student Submissions</a></li>
              </ul>
          </li>
          <li>
              <a href="{% url 'testbed-type-list' %}">Testbed Types</a>
          </li>
          <li>
              <a href="{% url 'hardware-type-list' %}">Hardware Types</a>
          </li>
          {% else %}
          <li class="active">
              <a href="{% url 'submissions_full_log' %}">Submissions</a>
          </li>
          {% endif %}
      </ul>
  </div>
  <!-- END MENU -->
{% endblock %}


{% block main-content %}
    <div class="main-content">
      <h3>Submission History for {{user.first_name}} {{user.last_name}}</h3>
      <hr>

      {% if submissions_count == 0 %}
        <p>No submission history found.</p>
      {% else %}
        <div class="filter">
          <select class="form-control" id="course" style="width:200px; float:left; margin-right:10px">
            <option value=0 selected>--- Select Course ---</option>
            {% for course in course_list %}
              <option value="{{course.id}}">{{ course.course_code }}</option>
            {% endfor %}
          </select>
          <select class="form-control" id="assignment" style="width:200px;float:left;margin-right:10px">
            <option value=0 selected>--- Select Assignment ---</option>
            {% for assignment in assignment_list %}
              <option value="{{assignment.id}}">{{ assignment.name }}</option>
            {% endfor %}
          </select>
          <a id="filter" href="?course=0&assignment=0" class="btn btn-primary" style="width:100px" >Filter</a>
          <script type="text/javascript">
            $(document).ready(function() {
              $("#course, #assignment").change(function(){
                var selected_course = $("#course option:selected").val();
                var selected_assignment = $("#assignment option:selected").val();
                $('a').attr('href','?course='+selected_course+'&assignment='+selected_assignment);
              });
            });
          </script>
        </div>
        <hr>
        <table class="table table-striped table-hover">
            <tr>
              <thead class="thead-default">
                <th>Assignment</th>
                <th>Score</th>
                <th><a>Submission Time</a></th>
                <th>Detail</th>
                <th>Code</th>
              </thead>
            </tr>
            {% for s in submission_full_log %}
                <tr>
                    <td><a href="{% url 'assignment' s.0.assignment_id.id %}">{{ s.1.course_code }}_{{ s.0.assignment_id }}</td>
                    {% if s.2 < s.3 %}
                      <td><span class="badge" style="background:darkred; width:80px;"> {{ s.2 }}/{{ s.3 }}</span></td>
                    {% else %}
                      <td><span class="badge" style="background:green; width:80px;"> {{ s.2 }}/{{ s.3 }}</span></td>
                    {% endif %}
                    <td>{{ s.0.submission_time}} </td>
                    <td>
                      <a class="btn btn-primary" href="{% url 'submission' s.0.id %}"
                      style="font-size:12px; background:white; width:90px; color:SteelBlue; border-color:SteelBlue">
                      <span class="glyphicon glyphicon-file"></span>&nbsp;Detail
                    </td>
                    <td>
                      <a href="{{ MEDIA_URL }}{{ s.0.file.url }}" class="btn btn-primary"
                        style="font-size: 12px; background:white; color:SteelBlue; border-color:SteelBlue">
                        <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Download
                    </td>
                </tr>
            {% endfor %}
        </table>
      {% endif %}

      <div style="margin:0 auto;">
        {% if submission_full_log.has_other_pages %}
          <ul class="pagination">
            {% if submission_full_log.has_previous %}
              <li><a href="?page={{ submission_full_log.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in page_range %}
              {% if submission_full_log.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if submission_full_log.has_next %}
              <li><a href="?page={{ submission_full_log.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
      </div>
    </div>
{% endblock %}
