{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load guardian_tags %}
{% load submission_tags %}

{% block profile-usertitle-name %}
  Submission
{% endblock %}

{% block profile-usertitle-job %}
  {{ assignment.name }}
{% endblock %}

{% block submissions-active %}active{% endblock %}

{% block page-specific-css %}
  {% for css in css_files %}
    <link rel="stylesheet" href="{{css}}" type="text/css" media="all" />
  {% endfor %}
{% endblock %}

{% block page-specific-js %}
  {% for js in js_files %}
    <script src={{js}}></script>
  {% endfor %}
{% endblock %}

{% block main-content %}
  <div class="main-content">
    <div class="top-buffer">
      <ol class="breadcrumb">
        <li><a href="{% url 'homepage' %}">Courses</a></li>
        <li><a href="{% url 'course' course.id %}">{{ course.course_code }}</a></li>
        <li><a href="{% url 'assignment' assignment.id %}">{{ assignment.name }}</a></li>
        <li><a href="{% url 'submission' submission.id %}">submission detail ({{submission.id}})</a></li>
        <li>{{ assignment_task.brief_description }}</li>
      </ol>
    </div>

    <h3 class="page-header">Grading Detail</h3>

    <h5>Author(s): {{ team_member_names }}</h5>
    <h5>Submitted by: {{ submitter_name }}</h5>
    <h5>Submission time: {{ submission.submission_time }}</h5>
    <h5>Submission ID: {{ submission.id }}</h5>
    <h5>Task case: {{ assignment_task.brief_description }}</h5>
    <h5>Score: {% show_score grading.points assignment_task.points %}</h5>

    <hr/>
    <h4>Grading feedback:<h4>
    <p style="white-space:pre; font-size:13px; font-family:monospace">{{feedback}}</p>

    {% for visualization in output_visualizations %}
      <hr/>
      <h4>File: {{visualization.field_name}}
        <a href="{{ MEDIA_URL }}{{ visualization.url }}" class="btn btn-primary btn-detail-enabled">
          <span class="glyphicon glyphicon-download-alt"></span> &nbsp;Download
        </a>
      </h4>
      <br/>
      {{ visualization.html }}
      <p style="white-space:pre; font-size:13px; font-family:monospace">{{output.content}}</p>
    {% endfor %}

  </div>

{% endblock %}
