{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load guardian_tags %}

{% block sidebar-content %}
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            Submission
        </div>
        <div class="profile-usertitle-job">
            {{ assignment.name }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav nav-bar">
            <li>
                <a href="{% url 'homepage' %}">Courses</a>
            </li>
            <li class="active">
                <a href="{% url 'submissions_full_log' %}">Submissions</a>
            </li>
            {% get_obj_perms request.user for course as "course_perms" %}
            {% if "view_membership" in course_perms %}
            <li>
                <a href="{% url 'membership' course.id %}">Students</a>
            </li>
            {% endif %}
            {% if perms.serapis.view_hardware_type %}
            <li>
                <a href="{% url 'testbed-type-list' %}">Testbed Types</a>
            </li>
            <li>
                <a href="{% url 'hardware-type-list' %}">Hardware Types</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- END MENU -->
{% endblock %}

{% block main-content %}
    <div class="main-content">
        <div class="top-buffer">
          <ol class="breadcrumb">
              <li><a href="{% url 'homepage' %}">Courses</a></li>
              <li><a href="{% url 'course' course.id %}">{{ course.course_code }}</a></li>
              <li><a href="{% url 'assignment' assignment.id %}">{{ assignment.name }}</a></li>
              <li><a href="{% url 'submission' submission.id %}">submission detail ({{submission.id}})</a></li>
              <li>{{ assignment_task.brief_description }}</li>
          </ol>
        </div>

        <h3 class="page-header">Grading Detail</h3>

        <h5>Student: {{ author.first_name }} {{ author.last_name }}</h5>
        <h5>Submission time: {{ submission.submission_time }}</h5>
        <h5>Submission ID: {{ submission.id }}</h5>
        <h5>Task case: {{ assignment_task.brief_description }}</h5>
        {% if grading.points == assignment_task.points %}
          <h5>Score: <span class="badge" style="background:green; width:80px;">{{ grading.points }} / {{ assignment_task.points }}</span></h5>
        {% else %}
          <h5>Score: <span class="badge" style="background:darkred; width:80px;">{{ grading.points }} / {{ assignment_task.points }}</span></h5>
        {% endif %}
        {% if grading.DUT_serial_output %}
        <a href="{{ MEDIA_URL }}{{ grading.DUT_serial_output.url }}" class="btn btn-primary"
          style="font-size: 12px;background:white; color:SteelBlue; border-color:SteelBlue; width:150px">
          <span class="glyphicon glyphicon-download-alt"></span> &nbsp;DUT Serial Output
        </a>
        {% endif %}
        <hr>
        {% if grading.grading_detail %}
          <h5>Feedback<h5>
          <br>
          <p style="white-space:pre; font-size:13px">{{feedback}}</p>
          <hr>
        {% endif %}

        {% if grading.output_file %}
          <h5>Output File: &nbsp; <a href="{{ MEDIA_URL }}{{ grading.output_file.url }}" class="btn btn-primary"
            style="font-size: 12px;background:white; color:SteelBlue; border-color:SteelBlue;">
            <span class="glyphicon glyphicon-download-alt"></span> &nbsp;Download
          </a></h5>
          <p id="timestamps"  style="display: none;">{{timestamps}}</p>
          <p id="val" style="display: none;">{{val}}</p>

          <script type="text/javascript" src="../../static/Chart.js"></script>
          <canvas id="waveform" style="width:100%; height:200px"></canvas>

          <script type="text/javascript">
            var label = document.getElementById('timestamps').innerHTML;
            var data = document.getElementById('val').innerHTML;

            label = label.replace('[', '')
            label = label.replace(']', '')
            var label_array = label.split(',')
            var timestamps = []
            for(item in label_array)
              timestamps.push(parseInt(label_array[item]))


            data = data.replace('[', '')
            data = data.replace(']', '')
            var data_array = data.split(',')
            var signal = []
            for(item in data_array)
              signal.push(parseInt(data_array[item]))

             $(function() {
               console.log(signal);
               console.log(timestamps);
                 var output_file_data = {
                     labels : timestamps,
                     datasets : [
                         {
                           fill: false,
                           lineTension: 0.1,
                           pointBorderWidth: 1,
                           pointHoverRadius: 5,
                           pointRadius: 1,
                           pointHitRadius: 10,
                           data : signal
                         }
                     ]
                 }

                 var output_waveform = document.getElementById('waveform').getContext('2d');
                 new Chart(output_waveform, {
                   type: 'line',
                   data: output_file_data
                 }).Line(output_file_data);
               });
          </script>

          <hr>
        {% endif %}
    </div>

{% endblock %}
