{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}

{% block profile-usertitle-name %}
  Testbed
{% endblock %}

{% block profile-usertitle-job %}
  <br/>
{% endblock %}

{% block testbed-status-list-active %}active{% endblock %}

{% block main-content %}
  <script type="text/javascript">
    function getCookie(c_name) {
      if (document.cookie.length > 0) {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1) {
          c_start = c_start + c_name.length + 1;
          c_end = document.cookie.indexOf(";", c_start);
          if (c_end == -1)
            c_end = document.cookie.length;
          return unescape(document.cookie.substring(c_start,c_end));
        }
      }
      return "";
    }
    $(function() {
      $.ajaxSetup({
        headers: {"X-CSRFToken": getCookie("csrftoken")}
      });
    });

    function render_table() {
      $.ajax({
        url: '{% url 'testbed-status-list' %}',
        type: 'get',
        dataType: 'JSON',
        success: function(data) {
          var testbeds = data
          $("#status-table-body").empty();
          if(testbeds.length == 0) {
            $(".main-content").append("<p>No testbeds available to view.</p>")
          }
          else {
            var tbody = $("#status-table-body");

            for (i = 0; i < testbeds.length; i++) {
            //for (testbed in testbeds) {
              testbed = testbeds[i];
              tbody.append("<tr class='modifiable-rows'>")
              var tr = $('#status-table-body').find('tr:last');
              tr.append("<td>" + testbed.id + "</td>");
              tr.append("<td>" + testbed.ip_address + "</td>");
              tr.append("<td>" + testbed.status + "</td>");
              tr.append("<td>" + testbed.report_time + "</td>");
              tr.append("<td>" + testbed.report_status + "</td>");

              task = testbed.task;
              if (Object.keys(task).length == 0) {
                tr.append("<td>(No executing task)</td>");
                tr.append("<td>&nbsp;</td>")
              }
              else {
                tr.append("<td>"
                    + "Course: " + task.course + "<br/>"
                    + "Assignment: " + task.assignment + "<br/>"
                    + "Task Name: " + task.task_name + "<br/>"
                    + "Submission ID: " + task.submission_id
                    + "</td>")
                tr.append("<td><a onclick=abort_task(" + testbed.id + ") class='btn btn-primary'>Abort Task</a></td>")
              }
            }
          }
        },
        failure: function(data) {
          alert('Got an error dude');
        }
      });
    }
    
    render_table();
    setInterval(render_table, 5000);
              
    function abort_task(testbed_id) {
      $.ajax({
        url: "{% url 'abort-testbed-task' %}",
        type: 'POST',
        dataType: 'JSON',
        data: {id: testbed_id} ,
        success: function(data) {
        },
        failure: function(data) {
          alert('Got an error dude');
        }
      });
    }
  </script>
  <div class="main-content">
    <h1 class="page-header">Testbed Status List</h1>

    {% if not testbed_list %}
      <p>No testbeds available to view.</p>
    {% else %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Testbed ID</th>
              <th>IP Address &nbsp; Port</th>
              <th>Current Status</th>
              <th>Last Report Time</th>
              <th>Last Report Status</th>
              <th>Graded task</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody id="status-table-body" />
        </table>
      </div>
    {% endif %}
  </div>

{% endblock %}
