{% extends 'serapis/base_sidebar.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load bootstrap3 %}

{% block profile-usertitle-name %}
  Welcome!
{% endblock %}

{% block profile-usertitle-job %}
  {{ course.name }}
{% endblock %}

{% block courses-active %}active{% endblock %}

{% block main-content %}
  <div class="main-content">
    <h3 class="page-header">Drop course <a href="{url 'course' course.id}">{{course.course_code}}:{{course.name}}</a></h3>
    {% if not course_enrolled %}
      <p>You are not currently enrolled in course {{course.course_code}}: {{course.name}}.</p>
    {% else %}
      <p style="color:red; font-weight:bold">Warning: You are about to drop course {{course.course_code}}: {{course.name}}. Are you sure you want to drop this class?</p>
      <p>Note that if you are a team leader in one assignment, the team will be gone and your teammates will lose the submission history.</p>
      <form action="." method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <br/>
        <input type="submit" value="Yes, Drop" style="float:left"/>
        <button style="margin-left:10px;">
          <a href="{% url 'homepage' %}" style="color:black; text-decoration:none">Cancel</a>
        </button>
      </form>
    {% endif %}

  </div>
{% endblock %}
